* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

/*header stuff*/

header {
  background-image: linear-gradient(
    170deg,
    lightgreen 60%,
    lightgrey 60.4%,
    white 60%
  );
}

#header-container {
  margin: auto;
  max-width: 70%;
  min-width: 950px;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.image-container {
  position: relative;
}

.header-img-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user-name {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Playfair Display';
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.about-me-container {
  background-color: white;
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
}

h2 {
font-family: 'Playfair Display';
font-size: 2rem;
color: darkgrey;
}

.about {
  font-size: 1.1rem;
  line-height: 1.5;
}

#icons {
  display: flex;
  justify-content:end;
  gap: 20px;
}

.icons {
  width: 35px;
}

/*main stuff*/

.main-container {
  max-width: 70%;
  min-width: 950px;
  margin: auto;
  padding: 3rem 0;
}

h1 {
  margin-top: 100px;
  font-family: 'Playfair Display';
  color: darkgrey;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 50px;
  justify-content: space-between;
}

.works {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 20px;
}

.work-image {
  border-radius: 20px 20px 0 0;
  width: 400px;
}

.work-description-container {
  margin: 10px 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.project-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 2rem;
  font-family: 'Playfair Display';
  color: darkgrey;
}

/*footer stuff*/

footer {
  background-color: lightgreen;
}

@media (max-width: 1000px) {
  /*header stuff*/
  #header-container {
    min-width: unset;
  }

  .image-container {
    z-index: 1;
    transform: translateX(80px);
  }

  .image-container img {
    width: calc(0.6 * 480px);
    height: calc(0.7 * 480px);
    object-fit: cover;
  }

  .user-name {
    top: 5px;
    left: 250px;
    text-wrap: nowrap;
  }

  .about-me-container {
    position: relative;
    top: 7.5em;
    left: -13rem;
    display: block;
    padding: 15px;
    min-width: 380px;
  }

  .transparent {
    width: 290px;
    height: 275px;
    position: relative;
    float: left;
  }

  #icons {
    display: none;
  }

  /*main stuff*/
  .main-container {
    min-width: unset;
    max-width: unset;
    margin: 60px;
  }

  .works-container {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px 15px;
  }

  .work-image {
    width: 300px;
  }
}

@media (max-width: 767px) {
  /*header stuff*/
  header {
    background-image: linear-gradient(
      160deg,
      lightgreen 60%,
      lightgrey 60.4%,
      white 60%
    );
  }

  #header-container {
    flex-direction: column;
    min-width: unset;
    justify-content: center;
    align-items: center;
    max-width: 85%;
  }

  .image-container {
    transform: none;
    height: calc(1 * 480px);
  }

  .image-container img{
    height: 100%;
  }

  .user-name {
    text-wrap: wrap;
    top: 360px;
    left: 20px;
  }

  h2 {
    color: rgb(78, 78, 78);
  }

  .about-me-container {
    background-color: transparent;
    top: 0;
    left: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 20px 0;
    min-width: unset;
  }

  .transparent {
    display: none;
  }

  #icons {
    display: flex;
  }

  /*main stuff*/

  .main-container {
    min-width: unset;
    max-width: unset;
    margin: auto;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .my-works {
    text-align: center;
  }

  .works-container {
    justify-content: center;
  }
}