* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-image: linear-gradient(
    170deg,
    lightgreen 60%,
    lightgrey 60.4%,
    white 60%
  );
}

#header-container {
  margin: auto;
  max-width: 70%;
  min-width: 900px;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.image-container {
  position: relative;
}

.header-img-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.user-name {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Playfair Display';
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.about-me-container {
  background-color: white;
  padding: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
}

h2 {
font-family: 'Playfair Display';
font-size: 2rem;
color: darkgrey;
}

.about {
  font-size: 1.1rem;
  line-height: 1.5;
}

#icons {
  display: flex;
  justify-content:end;
  gap: 20px;
}

.icons {
  width: 35px;
}

@media (max-width: 1000px) {
  .image-container {
    z-index: 1;
    /*transform: scale(0.7);*/
    width: calc(0.7 * 480px);
  }

  img {
    width: calc(0.7 * 480px);
  }

  #header-container {
    min-width: 100%;
    background-color: red;
  }

  .about-me-container {
    position: relative;
    top: 100px;
    left: -250px;
    display: block;
  }

  .transparent {
    width: 220px;
    height: 210px;
    position: relative;
    float: left;
  }

  #icons {
    display: none;
  }
}

@media (max-width: 600px) {
  .user-name {
    color: red;
  } 
}